/* general */

:root {
  --dark-cyan: hsl(183, 100%, 15%);
  --dark-gray-cyan: hsl(186, 14%, 43%);
  --dark-gray-cyan-2: hsl(184, 14%, 56%);
  --light-gray-cyan: hsl(185, 41%, 84%);
  --light-gray-cyan2: hsl(189, 41%, 97%);
  --highlight: hsl(172, 67%, 45%);
  --active: #9fe8df;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Space Mono", monospace;
}

body {
  min-width: 375px;
  min-height: 933px;
  background-color: var(--light-gray-cyan);
  color: var(--dark-gray-cyan);
}

button {
  border: none;
}

.error-text {
  display: none;
}

/* remove arrows for num inputs */
.bill-input::-webkit-outer-spin-button,
.bill-input::-webkit-inner-spin-button,
.num-people-input::-webkit-outer-spin-button,
.num-people-input::-webkit-inner-spin-button,
.custom-tip-input::-webkit-outer-spin-button,
.custom-tip-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* logo */

.logo {
  margin: 3rem auto;
  display: block;
}

/* container  */
.container {
  background-color: white;
  border-radius: 25px;
  padding: 2rem;
  width: 375px;
  margin: 0 auto;
}

/* position icons */
.bill-container,
.num-people-container {
  position: relative;
}
.icon-dollar,
.icon-person {
  position: absolute;
  top: 45px;
  left: 10px;
}

/* bill / num people inputs */

.bill-input,
.num-people-input {
  display: block;
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
  color: var(--dark-cyan);
  font-weight: 800;
}

.bill-input {
  margin-bottom: 0.5rem;
}

.bill-input,
.num-people-input,
.custom-tip-input {
  background-color: var(--light-gray-cyan2);
  border: none;
  border-radius: 5px;
  height: 3rem;
  font-size: 1.5rem;
  text-align: right;
}
.num-people-input::-webkit-input-placeholder,
.bill-input::-webkit-input-placeholder {
  text-align: right;
  color: #9ebbbd;
}
.num-people-err {
  display: flex;
  justify-content: space-between;
}

/* select tip */

.select-tip-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  margin-bottom: 2rem;
}
.select-tip-text {
  margin-top: auto;
}

.percent-button,
.custom-tip-input {
  color: white;
  background-color: var(--dark-cyan);
  border-radius: 5px;
  font-weight: 800;
  font-size: 1.5rem;
}

.custom-tip-input {
  width: 100%;
  padding: 0.5rem;
  background-color: var(--light-gray-cyan2);
  color: var(--dark-cyan);
}

::-webkit-input-placeholder {
  text-align: center;
  color: var(--dark-gray-cyan);
}

.select-tip-text {
  grid-column: 1 / 3;
}

/* total tip */
.tip-total-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  background-color: var(--dark-cyan);
  border-radius: 15px;
  padding: 2rem 1.5rem 1rem;
}

.tip-total-text {
  color: white;
  margin-bottom: 1.5rem;
}

.small-text {
  font-size: 0.8125rem;
  color: var(--dark-gray-cyan-2);
}
.tip-total-amount {
  color: var(--highlight);
  font-size: 2rem;
  text-align: right;
  font-weight: 800;
}
.reset-btn {
  background-color: #0b686d;
  color: #095c61;
  border-radius: 15px;
  grid-column: 1/-1;
  font-weight: 800;
  font-size: 1.25rem;
  height: 48px;
}

/* desktop */
@media (min-width: 950px) {
  /* container */
  .container {
    width: 920px;
    height: 481px;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  /* bill, select, num people */
  .bill-container,
  .num-people-container,
  .select-tip-container {
    width: 379px;
  }

  .bill-container,
  .num-people-container {
    height: 78px;
  }
  .select-tip-container {
    height: 112px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-self: center;
  }
  .select-tip-text {
    grid-column: 1/-1;
  }

  .num-people-container {
    align-self: end;
  }

  /* tip totals */
  .tip-total-container {
    grid-column: 2/ -1;
    grid-row: 1 / 4;
    height: 417px;
    width: 413px;
    padding: 3rem 2rem;
    justify-self: end;
  }

  .top-total {
    align-self: start;
  }

  .middle-total {
    align-self: start;
    margin-bottom: 6.5rem;
  }

  .reset-btn {
    align-self: end;
  }
}

/* hover / active for desktop */
@media (hover: hover) and (pointer: fine) {
  .reset-btn:hover,
  .bill-input:hover,
  .num-people-input:hover,
  .percent-button:hover,
  .custom-tip-input:hover {
    cursor: pointer;
  }

  .bill-input:focus,
  .num-people-input:focus,
  .custom-tip-input:focus {
    outline: 3px solid var(--highlight);
  }

  .reset-btn:active,
  .percent-button:active {
    background-color: var(--active);
  }
  .percent-button:active {
    color: var(--dark-cyan);
  }
}

/* active / error for % tip buttons */
.active-reset-btn,
.active-percent-btn {
  background-color: var(--highlight);
  color: var(--dark-cyan);
}

.error-input:focus {
  outline: 3px solid red;
}

.error-text-display {
  display: inline;
  color: red;
}
